input[type=text], input[type=password], input[type=number], input[type=email]{
    display:inline-block;
    width: 50%;
}

.form{
    margin-top: 2%;
    font-family: "Lucida Console", Monaco, monospace;
}

.form legend{
    color: blue;
}

.form button{
    margin-left: 600px;
    margin-top: 1%;
}

#content{
    background-image: url('../img/greytexture.jpg');
}
