ul.topsell{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0px;
    margin-top: 1%;
}

ul.topsell li{
    display: inline-block;
    width: 20%;
    box-sizing: border-box; /*Se o tamanho inclui a borda*/
    border: 1px solid black;
    background-color: black;
    font-size: 16px;
    font-size: 1rem; /* for IE!? */
}
ul.topsell li a{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
}

ul.topsell a img{
    max-height: 400px;
    width: auto;
}

h2{
    background-color: yellow;
    /* background-image:url("../img/texture.jpg"); */
    text-align: center;
    font-family:"Arial Black", Gadget, sans-serif;
}
