/*Estilização Do Banner e menu principal*/
#logomenu ul{
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../img/darktexture.jpg');
}

#logomenu li{
    display: inline;
}

#logomenu li a{
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

#logomenu li a:hover {
    background-color: gray;
}

#logomenu .active {
    color: white;
}
